$body-background: white;
$body-background404: #15210a;
$h3-404: white;
$p-404: white;
$header-background: #4958BB;
$footer-background: #4958BB;
$footer-color: white;
$card-background: #F7F7F7;
$card-textcolor: #777777;
$card-titulocolor: #2691FB;
$card-bordercolor: transparent;
$card-paddingheader: 10px;
$card-paddingright: 20px;
$card-paddingbottom: 10px;
$card-paddingleft: 20px;
$btn-textcolor: #2691FB;
$btn-bordercolor: #2691FB;
$card2-background: transparent;
$card2-textcolor: #767E8B;
$card2-titulocolor: #4958BB;
$btn2-textcolor: white;
$btn2-bordercolor: #2691FB;
$header-textcolor: white;

$toplogopadding-left: 20px;
$toplogopadding-top: 20px;

$topmenupadding-top: 40px;
$topmenupadding-right: 40px;

$orbit-bulletcolor: white;
$orbit-bulletcoloractive: #3893FF;


body {
  background: $body-background;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}
header{
  background: $header-background;
  height: 120px;
  width: auto;
  padding-top: 20px;
}

li#rata {
    text-align: center;
}

.row.container {
  padding: 25px;
}

.columns.hide-for-medium.small-3 {
    text-align: center;
    padding-top: 20px;

}

div#example-menu {
    height: 100%;
    background: $header-background;
}
div#example-menu {
    padding: 0px;
    position-top: -16px;
}
.top-bar, .top-bar ul {
    background: $header-background;
}
.top-bar .menu > li:not(.menu-text) > a {
    padding: 1rem;
    color: $header-textcolor;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}
.top-bar .menu li:not(:last-child) {
    border-right: 0px solid #4e4e4e;
}

.top-bar-left.hide-for-small-only {
    padding-left: $toplogopadding-left;
    padding-top: $toplogopadding-top;
}

.top-bar-right {
    padding-top: $topmenupadding-top;
    padding-right: $topmenupadding-right;
}

.headermenu a, .headermenu p {
  color: $header-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;

}
div#example-menu {
    height: 120px;
}
.headermenu {
  width: 100%;
  height: 120px;
}

.row.title-bar {
    background: transparent;
}

.footer, .footer-container {
  background: $footer-background;
  padding:  10px;
}
.row.footer-container  {
  background: $footer-background;
}

.footerSocial {
  padding-top: 20px;
}

.footermenu a , .footermenu p , .footerSocial p {
  color: $footer-color;
}

.footermenu a , .footerSocial p {
  font-size: 12px;
}

li, #video h3{
  color: $card2-textcolor;
}
#video h3{
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}


#video h5 {
  color: $card2-titulocolor;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 800;
}
.footermenu p {
 font-size: 10px;
 margin-bottom: 0px;
}

hr {
    margin-top: 0px;
    margin-left: 14px;
    margin-right: 14px;
    width: 100%;
}
.columns.small-12.show-for-small-only {
    padding-bottom: 10px;
}

ul#listMenuHeader {
    font-size: 12px;
}

a::after {
    visibility: visible;
}

#listMenuHeader, #menu-footer-1{
  text-transform: uppercase;
}

.row.footerSocial.show-for-small-only {
    padding-top: 0px;
}

.headermenu a, .headermenu p {
  color: $header-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.card-section {
  background: $card-background;
  padding: $card-paddingheader $card-paddingright $card-paddingbottom $card-paddingleft;
}

.card-section p {
  color: $card-textcolor;
}

.card-section h5 {
  color: $card-titulocolor;
  text-transform: uppercase;
}

.small-12.medium-6.columns.card2-section {
    padding-left: 20px;
    padding-top: 20px;
}

.card.columns{
  padding: 10px;
  border-color: $card-bordercolor;
}
button.hollow.button {
  color:$btn-textcolor;
  border-color: $btn-bordercolor; 
}

#rata {
  max-height:  auto;
  height: auto;
}

.small-12.medium-6.columns.card2 {
    padding: 0px;
}
.card2-section{
  background: $card2-background;
}
.header-container {
  background: $header-background;
}
.card2-section p {
  color: $card2-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  font-size: 16px ;
}
h5 {
  line-height: 1.2;
}
p {
  line-height: 1.8;
}

.card2-section h5 {
  color: $card2-titulocolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800; 
  font-size: 36px;
}
#lista1{
  color: $card2-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; 
  font-size: 16px;
}
#lista1 li {
  padding-bottom: 20px; 

}
#lista2{
  color: $card2-textcolor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; 
  font-size: 24px;
}

button.hollow.button.button2 {
  color:$btn2-textcolor;
  border-color: $btn2-bordercolor; 
}

 #menuListHeader  {
  text-align: right;
   margin-top: 20px;
  }
#menuListHeader  a {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
}
ul.menu.headermenu {
    margin-top: 15px;
}

#error-404Picture img {
  padding-top: 50px;
}

#error-404Title p  {
  color: $h3-404;
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
}

#error-404 p {
  color: $p-404;
  font-size: 24px;
  font-weight: 400;
}

.img-circle {
    border-radius: 50%;
}

#body404 {
  background: $body-background404;
}

#fillete {
    width: auto;
    min-height: 500px;
    background: transparent;
    position:relative;
}
#fillete:before {
    content:" ";
    background: #72D571;
    display: block;
    width: 100%;
    height: 150px;
    border-radius:  100% 100% 0 0;
    position:absolute;
    bottom:0px;
    z-index:-5;

}

 #productoGarden{
    padding-top:60px;
  }

ul.check {
list-style-image: url('assets/check.svg');
height: 54px;
padding-left: 44px;
padding-top: 3px;
}
//Medias Queris



/* Small only */
@media screen and (max-width: 350px) {

  #menuListHeader  {
   text-align: right;
   margin-top: 10px;
  }
}
/* Small only */
@media screen and (max-width: 39.9375em) {

  hr{
    margin-left: 0px;
  }

  #imgFacebookMobile img, #imgLogoFooter2Mobile img {
    height: 60px;
    width: auto;
  }

  div#imgLogoFooter2Mobile, div#imgFacebookMobile, #pFacebookMobile {
    text-align: center;
  }

  #menuFooterMobile {
    padding: 0px;
  }

   #videoFrame {
    width: 320px;
    height: 180px;
  }
  #productoGarden{
    margin-top: 200px;
    padding-top: 0px;
    width: auto;
    height: auto;
    align-self: center;
  }
  #fillete {
  min-height: 500px;
  }

  #menuFooterMobile {
    padding: 0px;
  }
  #videoFrame {
    width: 320px;
    height: 180px;
  }
  .top-bar.headermenu.sticky {
    height: auto;
  }
  #menuFooterMobile {
    padding: 0px;
  }
  .headermenu {
    width: 100%;
    min-height: 80px;
    padding-top: 0px;
  }

  #rowMobile{
    margin-right: 0px;
    margin-left: 0px;
  }

  div#rowMobile {
    width: 100%;
    height: 100%;
  }
  .title-bar {
    width: 100%;
  }
  div#example-menu {
    border: 0px;
  }

  .small-12.medium-6.columns.card2.align-self-middle {
      padding-bottom: 20px;
  }

  img#productoGarden {
    margin-top: 135px;
  }
  .card2-section h5 {
    font-size: 28px;
  }

   .card2-section li {
    font-size: 16px;
  }
}



/* Medium and up */
@media screen and (min-width: 40em) {

   #imgHeader img {
    width: 150px;
    padding-top: 10px;
  }

  #logo {
    height: 80px;
    width: auto;
  }


}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

 #menuListHeader a {
  font-size: 12px;
  }

  #imgOrbit{
    content: src()
  }

  #logoParaPlusHeader{
    height: 65px;
  }

  ul#menuListHeader {
    margin: 0px;
  }

  iframe#videoFrame {
    width: 480px;
    height: 270px;
  }


}


@media screen and (min-width: 40em) and (max-width: 900px) {


  .card2-section h5 {
    font-size: 28px;
  }

   .card2-section li {
    font-size: 18px;
  }
  #productoGarden {
    padding-top: 170px;
  }

}

/* Large and up */
@media screen and (min-width: 64em) {
  #logoParaPlusHeader{
    max-width: 250px;
    height: auto;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}